body {
    background: #292926 !important;
    color: white !important;
    text-align: center !important;
}

#input {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wrapper {
    justify-content: center;
    margin: 20px auto 0;
    text-align: center;
    font-size: 16px;
    width: 400px;
    padding: 10px;
}

h1 {
    padding: 20px;
}

.error {
    display: none; /* Hidden by default */
    color: rgb(206, 77, 77);
}